player-connection-mode=Listen
player-connection-guid=2799291335
player-connection-debug=0
player-connection-project-name=KnightGream
player-connection-ip=169.254.173.101
player-connection-ip=169.254.152.130
player-connection-ip=192.168.56.1
player-connection-ip=100.64.135.78
player-connection-ip=100.64.145.36
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
